# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  domain_name: example.com
  secret_key_base: c27eed432cccbbb05da9bd1dea73d4c742721a49bf5c2a17e56a7ae57e8da74ca69e13604e8c909ecc59dea79ccff88e72e37f3a57b49f3c1ba999cd8a2ff431

test:
  domain_name: example.com 
  secret_key_base: adf1d0c44f2b654f65234b0d14539b898bf277e48f92203a269730020f447ae250eb6e7a04bc56941886e0cbe977fa52defdda9dc6b9e6c454ef3b4b08f0fc44

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
